@use '~styles' as *;
@use 'sass:math';

$QUANTITY_OF_CARDS: 10;

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  max-width: 100rem;

  &__title {
    font-size: 3.2rem;
  }

  &__subtitle {
    color: color(black, 120);
  }

  &__text {
    text-align: center;
  }

  &__link {
    color: color(pink, light);

    &:hover {
      text-decoration: underline;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 4.8rem;
    max-width: calc(#{math.div($QUANTITY_OF_CARDS, 2)} * (10rem + 4.8rem));
    margin-top: 3.2rem;
  }
}