@use '~styles' as *;

.skill-card {
  display: flex;
  flex-direction: column;
  width: 10rem;
  align-items: center;

  &__logo {
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.8rem;
  }

  &__name {
    font-size: font(size, 50);
  }
}