@use "~styles" as *;

.portfolio {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  max-width: 75rem;
  width: 100%;
  padding: 0 1rem;

  &__title {
    font-size: 4.8rem;
    font-weight: font(weight, xbold);
  }

  &__explorer {
    font-size: 2.4rem;
    font-weight: 500;

    &:hover {
      color: color(pink, light);
    }
  }
}
