@use "~styles" as *;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  max-height: 100vh;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50vh;
    max-width: 144rem;
    width: 100%;
    padding: spacing(8) spacing(13);
  }
}
